.jumbotron{
	color: green !important;
	text-align: center;
	background-image: url("../images/train.jpeg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
	
}

.jumbotron.url{
	opacity: 0.5;
}

.panel-heading{
	background-color: blue !important;
	color: white !important;
}